html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

nav {
	width: 100%;
	background-color: blue; 
	display: inline-block;
}

.nav-container{
	width: 60%;
	height: 4.375rem;
	margin: 0 auto;
	background-color: green;
}

.nav-logo{
	float: left;
	background-color:#2D35FF;
	height: 4.375rem;
}
.nav-logo img{
	max-height: 60%;
	padding: 10px 0 0 0;
}

.nav-links{
	float: right;
	/*background-color:#20CAFF;*/
}

.links-inline{
  list-style-type: none;
}

ul.links-inline li {
	display: inline;
	padding: 0 10px;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

ul.links-inline li.active {
    color: black;
    font-weight: 500;
}

ul.links-inline li:hover {
	cursor: pointer;
    color: #333333;
}

#logo {
  width: 100px;
  height: 100px;
}
