html, h1, h2{
  	box-sizing: border-box;
  	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

nav {
	width: 100%;
	background-color: #fff; 
	display: inline-block;
    position: fixed;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    margin-top: 1.563rem;
}

button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
.nav-container{
	width: 60%;
	height: 4.375rem;
	margin: 0 auto;
}

.nav-logo{
	float: left;
	height: 4.375rem;
}
.nav-logo img{
	max-height: 60%;
	padding: 10px 0 0 0;
}

.nav-links{
	float: right;
}

.links-inline{
  list-style-type: none;
}

ul.links-inline li {
	display: inline;
	padding: 0 10px;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

ul.links-inline li.active {
    color: black;
    font-weight: 500;
}

ul.links-inline li:hover {
	cursor: pointer;
    color: #333333;
}

#logo {
  width: 100px;
  height: 100px;
}

.first-section {
	background-image: url('../images/first-background copy.jpg');
	height: 45.938rem;
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.first-section .content {
	margin:20% auto;
}

.first-section  h1 {
	margin-top: 5.5rem;
    font-size: 3.125rem;

}
.first-section h2 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.first-section h1, h2 {
	color: white;
    text-align: center;
    font-weight: 300;
}
.content {
	margin: 5% auto;
	width: 100%;
	color: white;
	text-align: center;
}

.three-icon-section h1 { 
	color:black;
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.three-icon-section ul {
	width:60%;
	text-align: center;
	list-style-type: none;
	clear:both;
	display: inline-block;
	margin: 0 auto;
}
.three-icon-section .content ul li {
	float:left;
	display: inline;
	width: 33.3333333%;
}
.content-icons{
	max-height: 127px;
	max-width: 127px;
}

.caption h2 {
	color: black;
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;

}





























