body {
    background-color: LightGray;
}

nav {
	width: 100%;
	background-color: blue; 
	display: inline-block;
}
.nav-container{
	width: 60%;
	height: 4.375rem;
	margin: 0 auto;
	background-color: green;
}

.nav-logo{
	float: left;
	background-color:#2D35FF;
	height: 4.375rem;
}
.nav-logo img{
	max-height: 60%;
	padding: 10px 0 0 0;
}

.nav-links{
	float: right;
	background-color:#20CAFF;
}
div {
    border: 1px solid Chocolate;    
}

ul {
  list-style-type: none;
}
li {
	display: inline;
	padding: 0 10px;
}
#logo {
  width: 100px;
  height: 100px;
}